/**
 * Import base style

@import "base.less";
 */

/**
 * style for Fingerpaint
 */


/* Style for canvas */ 
 
#drawingCanvas {
    border: solid black 1px;
    background-color: #ffffff;
    /*width: 800px;*/
}


/*
* styles for control panel
*/

#controls li {
    list-style:none;
    display:inline-block;
}


#brush-container, #color-picker-container, #add-img-container, #clear-container {
    position: relative;
}


#brush-size {
    background-color: #fff;
    border: solid 1px #000;
    padding: 5px;
    display: none;
    position: absolute; 
    bottom: 100px;
    left: -10px;
    width: 90px;
}

.brush-small {
    vertical-align:middle;
    width: 20px;
}

.brush-medium {
    vertical-align:middle;
    width: 25px;
}

.brush-large {
    vertical-align:middle;
    width: 30px;
}


#color-selection {
    background-color: #fff;
    border: solid 1px #000;
    padding: 5px;
    display: none;
    position: absolute; 
    bottom: 100px;
    width: 280px;    
}

.color-splash, .insert-img {
    width: 64px;
    height: 64px;
}


#img-selection {
    background-color: #fff;
    border: solid 1px #000;
    padding: 5px;
    display: none;
    position: absolute; 
    bottom: 100px;
    width: 280px;    
}

#clear-confirmation {
    background-color: #fff;
    border: solid 1px #000;
    padding: 5px;
    display: none;
    position: absolute; 
    bottom: 100px;
    width: 140px;    
}




